@page "{id:int}"

@model EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Claim: @Model.Claim.Id</h2>

<form method="post">
    <input asp-for="Claim.Id" type="hidden"/>
    <div asp-validation-summary="All"></div>
   
    <table class="table">

        <tr>
            <td>
                <label asp-for="Claim.ClaimNumber"></label>
            </td>
            <td>
                <input asp-for="Claim.ClaimNumber"/>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Claim.PatientLastName"></label>
            </td>
            <td>
                <input asp-for="Claim.PatientLastName"/>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Claim.PatientFirstName"></label>
            </td>
            <td>
                <input asp-for="Claim.PatientFirstName"/>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Claim.PatientBirthDate"></label>
            </td>
            <td>
                <input asp-for="Claim.PatientBirthDate"/>
            </td>
        </tr>
        
    </table>

    <button type="submit">Save Changes</button>

</form>




@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

