@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Claims</h2>

<ol>
    @foreach (var claim in Model.Claims)
    {
        <li>@claim.ClaimNumber </li>
    }

</ol>

<a href="/Create">Create</a>

